{% extends "base.html" %}
{% block title %}&ndash; Archives{% endblock %}

{% block content %}
<article>
  <div class="article_text">
    <dl>
      {% for article in dates %}
      <dt>{{ article.locale_date }}</dt>
      <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
      {% endfor %}
    </dl>
  </div>
  <p align="right"> <a href="#" class="back-top" title="Back to the top"><i>&uarr;<img src="{{ BACK_TO_TOP }}" title="Back to the top"> </i></a> </p>
</article>
{% endblock %}
